# Local .terraform directories
**/.terraform/*
terraform.tfstate
terraform.tfstate.backup

# .tfstate files
*.tfstate
*.tfstate.*

*.d.ts
*.js
node_modules
cdktf.out
.gen

# Packer
packer_cache/
packer/packer_manifest.json